{% extends 'layout.html.twig' %}



{% block content %}
<div class="uk-flex uk-flex-middle uk-flex-column" uk-grid>
    <div class="uk-width-1-3@m uk-margin-large-top">
            <h2>Mes informations</h2>
                <p><span class="uk-label">Nom</span> {{ session.user.lastname }} {{ session.user.firstname }}</p>
                <p><span class="uk-label">Email</span> {{ session.user.email }}</p>
                <p><span class="uk-label">Téléphone</span> 0{{ session.user.phone }}</p>
                <a href="/customer/edit/{{ session.user.id }}"><button class="uk-button-small">Modifier mes informations</button></a>
                
        </div>
        <div class="uk-width-1-3@m">
            <h2>Mes bouquets sauvegardés</h2>
            
            <ul class="uk-list">
                {% for bouquet in bouquets %}
                    <li><p><button class="uk-button uk-button-primary uk-button-small" type="button">{{bouquet.name}}</button>
                    <a href="/bouquetCustomer/edit/{{ bouquet.id }}"><button class="uk-button-small">Modifier</button></a>
                    <a href="/Panier/addBouquetCustomer/{{ bouquet.id }}"><button class="uk-button-small">Commander</button></a>
                    </li>
                        <div uk-dropdown="mode: click, pos: top-right">
                            {% for fleurs in bouq %}
                                {% if fleurs.0.bouquetCustomer_id is same as (bouquet.id) %}
                                    {% for fleur in fleurs %}
                        <li>{{fleur.nombre}}x {{fleur.name}}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                {% endfor %}
            </ul>
        </div>
        <div class="uk-width-1-3@m">
            <h2>Mes commandes</h2>
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th>Date de récupération </th>
                        <th>Prix </th>
                    </tr>
                </thead>
                <tbody>
                    {% for command in customercommand %}
                    <tr>
                        <td>{{ command.datePick }}</td>
                        <td>{{ command.totalAmount }} €</td>

                        <td><a href="/Command/edit/{{ command.id }}"><button class="uk-button-small">Modifier</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="uk-width-1-3@m">
            <form action="/customer/delete/{{session.user.id}}" method="POST">
                <button class="uk-button-small">Supprimer mon compte</button>
            </form>
        </div>
        </div>
{% endblock %}
